<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You created a new Dojo Raffle!</h1>
    <p>
      Keep this email. It's the only way to access the raffle you just created.
    </p>
    <p>
      Raffle link:<br>
      <%= url_for(controller: 'raffles',
            action: 'show',
            only_path: false,
            id: @raffle.sig) %>
    </p>
    <p>Thanks for using Dojo Raffle and have a great day!</p>
  </body>
</html>